---
// Layouts
import Layout from "../layouts/Layout.astro";

// Components
import ProjectCard from "../components/ProjectCard.astro";
import Splash from "../components/Splash.astro";

// Data
import projectsData from "../data/projects.json";
---

<Layout title="Welcome to Astro.">
  <main class="mx-4 flex justify-center">
    <section
      class="project-list w-full 2xl:w-11/12 grid grid-cols-2 md:grid-cols-4 gap-4 mt-20"
    >
      {
        projectsData.map((project, i) => (
          <ProjectCard
            href={project.slug}
            title={project.name}
            image={project.url_image}
            gif={project.url_gift}
            index={i}
          />
        ))
      }
    </section>
  </main>
  <Splash />
</Layout>
