---
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";
import projectsData from "../data/projects.json";
---

<Layout title="Welcome to Astro.">
  <main class="mx-4">
    <section class="project-list grid grid-cols-2 md:grid-cols-4 gap-4 mt-20">
      {
        projectsData.map((project, i) => (
          <ProjectCard
            href={project.slug}
            title={project.name}
            image={project.url_image}
            gif={project.url_gift}
            index={i}
          />
        ))
      }
    </section>
  </main>
</Layout>
