---
import type { ImageMetadata } from "astro";
import { getImage } from "astro:assets";

interface Props {
  href: string;
  title: string;
  image: string;
  gif: string;
  index: number;
}

const { href, title, image, gif, index } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "../../public/images/*.{jpeg,jpg,png,gif}"
);

if (!images[image])
  throw new Error(
    `"${image}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  );

const optimizedBackgroundImage = await getImage({
  src: images[image](),
  format: "avif",
});

const optimizedBackgroundGif = await getImage({
  src: images[gif](),
  format: "webp",
});
---

<div
  class:list={[
    "project-card flex items-stretch",
    { big: index === 6 || index === 14 },
  ]}
>
  <a
    href={href}
    class="cursor-pointer w-full flex flex-col justify-stretch relative"
  >
    <h3 class="project-card__title text-white mb-1">
      <span class="mr-3">0{index + 1}</span>{" "}
      {title}
    </h3>
    <div
      class="project-card__images relative overflow-hidden h-full text-white text-sm"
    >
      <div
        class="project-card__image w-full h-full"
        style={`background-image: url(${optimizedBackgroundImage.src});`}
      >
      </div>
      <div
        class="project-card__gif w-full h-full"
        style={`background-image: url(${optimizedBackgroundGif.src});`}
      >
      </div>
    </div>
  </a>
</div>
<style lang="scss">
  h3 {
    font-size: 2.2375vw;

    @media (min-width: 468px) {
      font-size: 1.5625vw;
    }

    @media (min-width: 768px) {
      font-size: 0.78125vw;
    }
  }

  .project-card {
    grid-column-end: span 1;
    grid-row-end: span 1;
    min-height: 17vw;

    &:hover .project-card__gif {
      transition: opacity 0.5s;
      opacity: 1;
    }

    &__images {
      height: calc(25.7483vw + 10px);
      @media (min-width: 768px) {
        height: 100%;
      }
    }

    &__image,
    &__gif {
      position: absolute;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: opacity 0.49s;
    }

    &__image {
      background-color: #161616;
    }

    &__gif {
      opacity: 0;
    }
  }

  .big {
    grid-column-end: span 2;
    grid-row-end: span 2;
    min-height: 34vw;
  }
</style>
